@charset "utf-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/**
 *  variables.......................变量集中存储文件
 *
 *  normalize.......................normalize重置样式文件
 *
 *  layout..........................布局样式
 *
 */
@import "compass/reset", "variables","_layout";
*{
  color: #3c3c3c;
}
img{
  height: 100px;
  width: 100px;
}
li a{
  text-decoration: none;
  font:{
    size: 0.22*$a;
    style: oblique;
  }
  &:hover{
    color: brown;
  }
}
.content{
  padding: 13px 0;
  p{
    font:{
      family: $headline-ff;
      size: 0.55*$a;
    }
    display:table-cell;      /*按照单元格的样式显示元素*/
    vertical-align:middle;   /*垂直居中对齐*/
    white-space: nowrap;
  }
}
footer{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
li{
  line-height: 0.4*$a;
}
.head_2,.head_3 {
  display: none;
}
@media(max-width: 2048px){
  .head_1{
    display: none;
  }
  .head_3{
    display: block;
  }
}
@media(max-width: 1080px) {
  .head_1{
    display: none;
  }
  .head_3{
    display: none;
  }
  .head_2{
    display: block;
  }
  .content{
    p{
      font: {
        size: 0.5*$a; ;
      }};
    }
}
@media(max-width: 768px) {
  .head_1 {
    display: block;
  }
  .head_2 {
    display: none;
  }
  .wrapper{
    width: 100%;
  }
}

@media(max-width: 481px) {
  .head_1,.head_2,.head_3 {
    display: none;
  }
  .wrapper{
    width: 100%;
  }
  .content p{
    font-size: 0.3*$a;
  };
  li a {
    font: {
      size: 0.15*$a;
      style: oblique;
    }
  }
}