body,
div,
ul,
li,
p,
h3 {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}


/*小黄条部分样式设置*/

#remind {
    overflow: hidden;
    white-space: nowrap;
    top: 0;
    left: 0;
    display: flex;
    height: 36px;
    width: 100%;
    /*border: 1px solid;*/
    background-color: #f3f3f3;
    align-items: center;
}

#killremind {
    display: none;
}

#remind .p1 {
    display: inline-block;
    font: 12px '微软雅黑';
    margin-left: 207px;
}

#remind .view {
    font: 12px '微软雅黑';
    cursor: pointer;
}

#remind .close {
    display: inline-block;
    font: 12px '微软雅黑';
    margin-left: 670px;
    cursor: pointer;
}


/*banner部分样式设置*/

.nav {
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    height: 90px;
    width: 100%;
    /*border: 1px solid red;*/
    align-items: center;
}

#banner li {
    display: inline-block;
}

#banner .EDU {
    display: flex;
    align-items: center;
    margin-right: 31px;
    margin-left: 208px;
    cursor: pointer;
}

#banner .follow {
    display: flex;
    height: 23px;
    background-color: #2fb556;
    font: bold 12px '宋体';
    color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#banner .fans {
    margin-left: 14px;
    margin-right: 418px;
    font: 12px '宋体';
}

#banner .nav .link {
    font-size: 16px;
    margin-right: 55px;
    cursor: pointer;
}

#banner .nav .link1 {
    margin-right: 30px;
    cursor: pointer;
}


/*轮播部分样式设置*/

.scroll {
    height: 462px;
    width: 100%;
    /*border: 1px solid;*/
}

#banner .scroll .list {
    position: relative;
}

#banner .scroll .list a {
    position: absolute;
    top: 0;
    left: 0;
}

#banner .scroll .count_parent {
    position: relative;
}

#banner .scroll .count {
    position: absolute;
    top: 420px;
    left: 50%;
    transform: translateX(-50%);
}

#banner .scroll .count li {
    float: left;
    width: 12px;
    height: 12px;
    cursor: pointer;
    margin-right: 10px;
    overflow: hidden;
    background: #fff;
    opacity: 0.7;
    filter: alpha(opacity=70);
    border-radius: 12px;
}

#banner .scroll .count li.current {
    color: #fff;
    opacity: 1;
    filter: alpha(opacity=100);
    font-weight: 700;
    background: #000;
}


/*banner部分友情链接样式设置*/

.friendlink {
    display: flex;
    height: 297px;
    width: 100%;
    /*border: 1px solid;*/
    align-items: center;
    justify-content: center;
}

#banner .friendlink li {
    /*border: 1px solid;*/
    width: 350px;
}

#banner .friendlink .study {
    margin: 0 85px;
}

#banner .friendlink .left {
    display: inline-block;
    width: 82px;
    height: 82px;
    /*border: 1px solid;*/
    margin-top: 12px;
}

#banner .friendlink .right {
    float: right;
    width: 242px;
    margin-left: 21px;
}

#banner .friendlink .p1 {
    font: 22px '微软雅黑';
}

#banner .friendlink .p2 {
    font: 14px '微软雅黑';
    margin: 20px 0 34px;
}

#banner .friendlink .p3 {
    font: 14px '微软雅黑';
    color: #39a030;
    cursor: pointer;
}

#banner .friendlink .left {
    margin-top: 35px;
}


/*工作环境展示样式设置*/

#environment {
    display: flex;
    height: 222px;
    width: 100%;
    /*border: 1px solid;*/
    justify-content: center;
    align-items: center;
}

#environment li:nth-child(1) {
    background: url(../images/environment1.jpg) no-repeat;
    background-size: 100% 100%;
}

#environment li:nth-child(2) {
    background: url(../images/environment2.jpg) no-repeat;
    background-size: 100% 100%;
}

#environment li:nth-child(3) {
    background: url(../images/environment3.jpg) no-repeat;
    background-size: 100% 100%;
}

#environment li:nth-child(4) {
    background: url(../images/environment4.jpg) no-repeat;
    background-size: 100% 100%;
}

#environment li:nth-child(5) {
    background: url(../images/environment5.jpg) no-repeat;
    background-size: 100% 100%;
}

#environment li {
    height: 222px;
    flex: 1;
    /*border: 1px solid;*/
}

#environment li+li {
    margin-left: 4px;
}


/*课程列表样式设置*/

#main {
    height: 1552px;
    width: 100%;
    background-color: #f8f8f8;
    border: 1px solid #f8f8f8;
}

#courses {
    height: 1471px;
    width: 1210px;
    margin: 0 auto;
    margin-top: 83px;
    background-color: white;
}

#courses .left {
    float: left;
    width: 980px;
    height: 100%;
}

#courses .right {
    float: right;
    width: 226px;
    height: 100%;
}


/*课程列表样式*/

#courses .left .tab a {
    display: table-cell;
    width: 200px;
    height: 50px;
    box-shadow: 1px 1px 0 1px #e6e6e6;
    text-align: center;
    vertical-align: middle;
}

#courses .left .tab .tabA {
    background-color: #39a030;
    color: white;
}

#courses .left .tab {
    margin-bottom: 30px;
}

#courses .left .list li {
    float: left;
    width: 220px;
    height: 232px;
    margin: 0 22px 20px 0;
    box-shadow: 1px 1px 0 1px #e6e6e6;
}

#courses .left .list li img {
    width: 223px;
    height: 124px;
}

#courses .left .list li:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font: 12px '微软雅黑';
    line-height: 25px;
}

#courses .left .list li p:nth-child(3) {
    color: #999999;
}

#courses .left .list li p:nth-child(4) {
    display: inline-block;
    color: #999999;
    line-height: 19px;
    background: url(../images/li_bg.png) 1px no-repeat;
    background-position: 4px 50%;
    border: #999999 1px solid;
    border-radius: 3px;
    padding: 0 4px;
    margin-left: 4px;
}

#courses .left .list li p:nth-child(5) {
    color: red;
}

#courses .left #page {
    float: right;
}

#courses .left #page li {
    display: inline-block;
    width: 21px;
    height: 21px;
    /*border: 1px solid;*/
    text-align: center;
    padding: 0 4px;
}

#courses .left #page li:hover {
    background-color: #9dd8b1;
}

#courses .left .page {
    width: 302px;
    float: right;
    padding-right: 32px;
}

#courses .left .page .pageright {
    float: right;
}

#courses .left .page .pageleft {
    float: left;
}

#courses .left .list {
    height: 1270px;
}


/*机构介绍样式*/

#courses .right .retroduce {
    box-shadow: 1px 1px 0 1px #e6e6e6;
    margin-bottom: 20px;
}

#courses .right .retroduce h3 {
    height: 57px;
    box-shadow: 1px 1px 0 1px #e6e6e6;
    font: 16px '微软雅黑';
    line-height: 55px;
}

#courses .right .retroduce .mp4 p {
    font: 14px '微软雅黑';
    margin: 22px 0 9px;
}

#courses .right .retroduce .mp4 img {
    width: 182px;
    height: 112px;
    margin-left: 22px;
    margin-bottom: 21px;
}


/*热门排行样式*/

#courses .right #charts {
    box-shadow: 1px 1px 0 1px #e6e6e6;
    padding-bottom: 20px;
}

#courses .right #charts li img {
    width: 51px;
    height: 51px;
    /*border: 1px solid;*/
}

#courses .right #charts li p:nth-child(2) {
    /*border: 1px solid;*/
    width: 124px;
    display: inline-block;
    position: absolute;
    font: 14px '微软雅黑';
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-indent: 1em;
}

#courses .right #charts li div {
    display: inline-block;
    /*border: 1px solid;*/
    margin-left: 13px;
    position: absolute;
    left: 75px;
    top: 47px;
    background: url(../images/li_bg.png) 1px no-repeat;
}

#courses .right #charts li div p {
    text-indent: 1em;
    color: #999999;
    font-size: 12px;
}

#courses .right #charts li {
    position: relative;
    padding: 20px 20px 0 20px;
}


/*页脚样式设置*/

#footer {
    position: relative;
    height: 257px;
    width: 100%;
    border: 1px solid;
    background-color: #2c3339;
}

#footer .content {
    /*border: 1px solid red;*/
    position: absolute;
    top: 75px;
    left: 255px;
    width: 980px;
}

#footer .content .logo {
    position: absolute;
    top: 0;
    /*border: 1px solid red;*/
    display: inline-block;
}

#footer .content .link {
    position: absolute;
    top: 0;
    left: 547px;
    /*border: 1px solid red;*/
    color: #bebfc0;
    font: 12.5px '微软雅黑';
}

#footer .content .about {
    position: absolute;
    top: 0;
    left: 755px;
    /*border: 1px solid red;*/
    color: #bebfc0;
    font: 12.5px '微软雅黑';
}

#footer .content .more {
    position: absolute;
    top: 0;
    left: 890px;
    /*border: 1px solid red;*/
    color: #bebfc0;
    font: 12.5px '微软雅黑';
}

#footer .content ul li {
    margin-top: 15px;
    font: 14.58px '微软雅黑';
}

#footer .content ul li:hover {
    cursor: pointer;
    text-decoration: underline;
}


/*登录界面*/

.logoin {
    /*display: none;*/
    background-color: white;
    position: absolute;
    border: 1px solid;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    height: 220px;
    padding: 30px 52px 40px 40px;
}

.logoin input {
    width: 296px;
    height: 44px;
    border: rgba(0, 0, 0, 0.2) 1px solid;
}

.logoin button {
    width: 296px;
    height: 44px;
    background: url(../images/logoin.png) 1px no-repeat;
    position: absolute;
    bottom: 40px;
}

.logoin .userName {
    position: absolute;
    top: 69px;
}

.logoin .password {
    position: absolute;
    top: 130px;
}

#bg {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.7;
    opacity: .70;
    filter: alpha(opacity=70);
}

#show {
    display: none;
    position: absolute;
    top: 25%;
    left: 22%;
    width: 53%;
    height: 49%;
    padding: 8px;
    border: 8px solid #E8E9F7;
    background-color: white;
    z-index: 1002;
    overflow: auto;
}
