.form-control{
	height: 60px;
}
.btn{
	height: 60px;
}
h1{
	font-size: 50px;
	line-height: 1.7;
	color: #CC0000 ;
	text-shadow:1px 2px 3px #993300 ;
}
.btn-danger{
	margin-top: 5px;
	margin-bottom: 5px;
	height: 30px;
	width: 100%;
}
.nodispaly{
	display: none;
	visibility:hidden;
}